# Core dependencies
transformers>=4.36.0
diffusers>=0.26.0
torch>=2.0.0
numpy>=1.24.0
Pillow>=10.0.0

# For standard (BNB) models
bitsandbytes>=0.41.0

# For NF4 models
optimum>=1.12.0
accelerate>=0.25.0
gptqmodel>=2.2.0

# gptqmodel might need some more dependencies
device-smi
tokenicer
threadpoolctl
logbar
datasets